@using SafeCamApp.ViewModels.DesignationVMs
@model List<DesignationGetVM>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Designations</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="btn btn-outline-primary">
                <a asp-action="Create">Create</a>
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <button class="btn btn-warning">
                                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                                </button>
                                <button class="btn btn-danger">
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </button>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
